*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 100%;
}
body{
    background-image: url('pag1.png');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.background{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 550px;
    width: 620px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    background-color: white;
    border-radius: 15px;
}
img{
    width: 520px;
    height: 250px;
    position: relative;
    z-index: 10;
    justify-content: center;
    align-items: center;
    text-align: center;
}
header h1{
    font-weight: bold;
    font-size: 24px;
}
main h1{
    font-size: 24px;
}
h3{
    margin: 0;
    font-size: 24px;
}
.input-codigo{
    border: 2px solid black;
    width: 40px;
    height: 45px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;

}
.botao-link{
    color: white;
    padding: 15px 32px;
    border:none;
    border-radius: 25px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.input-codigo.correto{
    border: 2px solid rgb(102, 201, 106) !important;
    color: rgb(102, 201, 106);
}
.input-codigo.incorreto{
    border: 2px solid rgb(229, 0, 0) !important;
    color: rgb(229, 0, 0);
}